<!DOCTYPE html>
<html>
    <head>
        <title>Vue.js</title>
    </head>
    <body> 
        <main>
            <input type="search"  v-model="busqueda" placeholder="Buscar">
            <ul>
                <li v-for="juegos in buscarJuego">
                    {{ juegos.titulo | alReves }}
                </li>
            </ul>

            <input type="range" min="0" max="10" v-model="minimo">

            <pre>{{$data}}</pre>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>