<!DOCTYPE html>
<html>
    <head>
        <title>Vue.js</title>
    </head>
    <body> 
        <main>
            <ul>
                <li v-for="tarea in tareas">
                    {{ tarea }}
                </li>
            </ul>

            <form v-on:submit.prevent="agregarTarea">
                <input type="text" placeholder="introduce tarea" v-model="nuevaTarea">
                <input type="submit" value="enviar">

            </form>

            <pre>{{$data}}</pre>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>