<!DOCTYPE html>
<html>
    <head>
        <title>Vue.js</title>
    </head>
    <body> 
        <main>
            <ul>
                <li v-for="dia in laborales">{{dia}}</li>
            </ul>

            <ul>
                <li v-for="(tarea,index) in tareas" >{{index}} - {{ tarea.nombre}} 
                    <small>{{tarea.prioridad}} </small>
                </li>
            </ul>

           <ul>
               <li v-for="(value, key, index) in persona">
                   {{index}} - {{key}} - {{value}}
               </li>
           </ul>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>